---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ExperienceContent from "@/features/experience/ExperienceContent.astro";
---

<BaseLayout
	title="Michael | Experiencia"
	description="Desarrollo de software y backend - Experiencia Profesional"
>
	<!-- EXPERIENCE SECTION -->
	<section
		id="experience"
		class="flex flex-col md:flex-row w-full h-auto md:h-full md:absolute md:inset-0 border-b border-border-custom md:border-b-0"
	>
		<ExperienceContent />
	</section>
</BaseLayout>
