---
import BaseLayout from "@/layouts/BaseLayout.astro";
import StackContent from "@/features/stack/StackContent.astro";
---

<BaseLayout
	title="Michael | Stack"
	description="Desarrollo de software y arquitectura - Stack Tecnológico"
>
	<!-- STACK SECTION -->
	<section
		id="stack"
		class="flex flex-col md:flex-row w-full h-auto md:h-full md:absolute md:inset-0 border-b border-border-custom md:border-b-0"
	>
		<StackContent />
	</section>
</BaseLayout>
